{% extends "base.html" %}
{% block page_css %}
<style>
form {
    border: solid 1px #E5E5E5;
    background: #EEE;
}

input, textarea {
    padding: 9px;
    border: solid 1px #E5E5E5;
    outline: 0;
    font: normal 13px/100% Verdana, Tahoma, sans-serif;
    width: 200px;
    background: #FFFFFF;
    }

textarea {
    width: 400px;
    max-width: 400px;
    height: 150px;
    line-height: 150%;
    }

input:hover, textarea:hover,
input:focus, textarea:focus {
    border-color: #C9C9C9;
    }

form label {
    margin-left: 10px;
    color: #999999;
    }

submit input {
    width: auto;
    padding: 9px 15px;
    background: #617798;
    border: 0;
    font-size: 14px;
    color: #FFFFFF;
}
</style>
{% endblock %}
{% block content %}

{% if db_game.game_started() %}
Sorry, this game has already filled all the players and started,
you can spectate on it
<a href="{{url_for('viewgame', game_no=db_game.id)}}">here.</a>
{% elif player_already_joined %}
{% set joingame_href = url_for('viewgame', game_no=db_game.id) %}
<div id="waiting-explanation">
Waiting for other players to join. If you want a friend to join send them this
link: <a href="{{joingame_href}}">{{joingame_href}}</a>.
Refresh to see if others have joined.
</div>
{% else %} {# There are some players left to claim #}
    <ul>
    {% for player in ['a', 'b', 'c', 'd'] if not db_game.player_taken(player) %}
        <li>
        <a id="claim-player-{{player}}"
           href="{{url_for('joingame', game_no=db_game.id, player=player)}}">
            Join as player {{player}}</a>
        </li>
    {% endfor %}
    </ul>
{% endif %}

{% endblock %}
