{% extends "base.html" %}

{% block content %}

<div class='game-log'>
    {% for log_entry in game.log_for_player(player=player) %}
        <div>{{log_entry.to_log_string()}}</div>
    {% endfor %}
</div>

{% if game.is_game_finished() %}
  <h1>This Game is Finished</h1>
  {% if game.winner is plural %}
    The winners are:
    <ul>
        {% for p in game.winners %}
            <li><span class='game-winner'>{{p}}</span></li>
        {% endfor %}
    </ul>
  {% else %}
  The winner is:
    {# The loop seems spurious since we know there is exactly one
       element, but there is no simple way to take the singleton element
       from the set without removing it, which we do not wish to do because
       other players may view this page (or you may even refresh.)
    #}
    {% for p in game.winners %}
       <span class='game-winner'>{{p}}</span>
    {% endfor %}
  {% endif %}

{% else %}<!-- the game is not finished -->

Currently handmaided players are:
<ul>
    {% for p in game.handmaided %}
     <li>{{p}}</li>
    {% endfor %}
</ul>

{% if possible_moves is not none %}
<h1>It is your turn</h1>
<h2>Card One: {{possible_moves[0].card}}</h2>
    <ul>
    {% for move in possible_moves[0].moves %}
        <li><span class='playable-move'>
            <a href="{{url_for('playcard', game_no=game_id,
                               secret=secret, card=move.card,
                               nom_player=move.nominated_player,
                               nom_card=move.nominated_card)}}">{{move.to_log_string()}}</a></span>
            </li>
    {% endfor %}
    </ul>
<h2>Card Two: {{possible_moves[1].card}}</h2>
    <ul>
    {% for move in possible_moves[1].moves %}
        <li><span class='playable-move'>
            <a href="{{url_for('playcard', game_no=game_id,
                               secret=secret, card=move.card,
                               nom_player=move.nominated_player,
                               nom_card=move.nominated_card)}}">{{move.to_log_string()}}</a></span>
            </li>
    {% endfor %}
    </ul>
{% elif your_hand is not none %}
It's not your turn. You are holding {{your_hand}}
{% else %}
Sorry, but you have been eliminated from this round.
{% endif %}<!-- your_turn -->

{% endif %}<!-- the game is finished, end of else branch -->

{% endblock %}
