{% extends "base.html" %}

{% block content %}

{% if db_game.game.is_game_finished() %}
  <h1>This Game is Finished</h1>
  {% if db_game.game.winner is plural %}
    The winners are:
    <ul>
        {% for p in db_game.game.winners %}
            <li><span class='game-winner'>{{p}}</span></li>
        {% endfor %}
    </ul>
  {% else %}
  The winner is:
    {# The loop seems spurious since we know there is exactly one
       element, but there is no simple way to take the singleton element
       from the set without removing it, which we do not wish to do because
       other players may view this page (or you may even refresh.)
    #}
    {% for p in db_game.game.winners %}
       <span class='game-winner'>{{p}}</span>
    {% endfor %}
  {% endif %}

{% else %}<!-- the game is not finished -->

<pre class='game-log'>
    {{db_game.game.serialise_game()}}
</pre>

Currently handmaided players are:
<ul>
    {% for p in db_game.game.handmaided %}
     <li>{{p}}</li>
    {% endfor %}
</ul>

{% if your_turn %}
<ul>
    {% for move in possible_moves %}
        <li><span class='playable-move'><a href="{{url_for('playcard', game_no=db_game.game_id, secret=secret, card=move.card, nom_player=move.nominated_player, nom_card=move.nominated_card)}}">
            {{move.to_log_string()}}</a></span></li>
    {% endfor %}
</ul>
{% else %}
It's not your turn.
{% endif %}<!-- your_turn -->

{% endif %}<!-- the game is finished, end of else branch -->

{% endblock %}
